/*
header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 25vh;
}
*/

body {
    background-color: #344150;
}

.v-menu {
    display: none;
    padding: 0px 15px 15px 15px;
    line-height: 50px;
    transition: background 0.5s ease;
    background-color: #344150;

}

.v-menu a {
    text-decoration: none;
    text-decoration-line: none;
    color: #344150;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
}

.v-menu:hover {
    background-color: #344150;
}

.v-menu:hover a {
    color: #ffffff;
}

.v-menu a:hover {
    color: #E6EFF6;
}





.head {
    display: flex;
    align-items: center;
    height: 25vh;
}

.head p {
    color: red;
    font-family: miller-display, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 5rem;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: #344150;
    margin-left: 10px;
    font-family: miller-display, serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 16px;
}

p {
    margin-left: 10px;
    font-size: 11px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width: 600px) {
    nav {
        justify-content: center;

    }

    .filter {
        margin-left: 20px;
    }

    .valgt {
        margin-left: 0px;
    }


}

.v-menu filter {}

.filter {
    color: #344150;
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 10px;
    font-size: 10px;
    outline: none;
    border: 1px solid #999999;
    text-transform: uppercase;
    transition: 0.3s;
    background-color: #F2F5FB;

}

.filter:hover {
    background-color: #344150;
    color: white;
}

article {
    /*    border: 1px solid #999999;*/
}

.nu {
    background-color: #344150;
    color: white;
}

.template {
    display: flex;
    flex-direction: column;
}



#liste {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

img {
    width: 100%;
    border: 1px solid black;
}

#logo {
    border: 0px solid black;
    margin-bottom: 20px;
}



img:hover {
    opacity: 0.4;
    background-color: black;
    transition: all 0.3s;
}

@media screen and (min-width: 800px) {
    #liste {
        grid-template-columns: repeat(2, 2fr);
    }


}




@media screen and (min-width: 1100px) {
    #liste {
        grid-template-areas:
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article"
            "v-menu article article";
        grid-template-columns: 15% 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-area: article;

    }


    .v-menu {
        display: flex;
        flex-direction: column;
        grid-area: v-menu;

    }

}
