/*
header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 25vh;
}
*/

body {
    background-color: #344150;
}

.subNav {
    display: none;
    padding: 0px 15px 15px 15px;
    line-height: 50px;
    transition: background 0.5s ease;
    background-color: #344150;

}

.head {
    display: flex;
    align-items: center;
    height: 25vh;
}

.head p {
    color: red;
    font-family: miller-display, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 5rem;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    font-family: miller-display, serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 100;
    display: none;
}

article {
    position: relative;
    background-color: black;
}

p {
    margin-left: 10px;
    font-size: 11px;
}

#mainNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width: 600px) {
    #mainNav {
        justify-content: center;

    }

    .filter {
        margin-left: 20px;
    }

    .valgt {
        margin-left: 0px;
    }


}



.filter {
    color: #344150;
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 10px;
    font-size: 10px;
    outline: none;
    border: 1px solid #999999;
    text-transform: uppercase;
    transition: 0.3s;
    background-color: #F2F5FB;

}

.filter:hover {
    background-color: #344150;
    color: white;
}


.nu {
    background-color: #344150;
    color: white;
}

.template {
    display: flex;
    flex-direction: column;
}



#liste {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

#logo {
    width: 50%;
    align-self: flex-end;
    margin-bottom: 30px;

}

article img {
    width: 100%;
    border: 1px solid black;
}



#logo:hover {
    opacity: 1;
    background-color: ;
}



article:hover img {
    opacity: 0.4;
    transition: all 0.3s;
}

article:hover h2 {
    display: block;
}

/*
@media screen and (min-width: 800px) {
    #liste {
        grid-template-columns: repeat(2, 2fr);
    }


}
*/




@media screen and (min-width: 1100px) {
    #liste {
        grid-template-columns: 1fr 1fr;
    }

    main {
        display: grid;
        grid-template-columns: 15% 1fr;
    }

    .subNav {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
    }


}
